.row {
  padding: 20px;
}

.img {
  height: 80vh;
  width: fit-content;
}

.app-logo {
  padding-left: 50px;
}

.sidebar {
  display: flex;
  height: 90vh;
  float: left;
  overflow: scroll initial;
}